#header
{
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}
#page_title
{
	font-size: 40px;
	display:block;
}
#page_title_sub
{
	font-size: 20px;
}

#menu
{
	padding: 10px;
	background-color: red;
}

.menu
{
	font-size: 25px;
}
#left_menu
{
	display: inline-block;
	float: left;
}
#right_menu
{
	display: inline-block;
	float: right;
}
.clearfix
{
	clear:both;
}

#content
{
	padding-top: 50px;;
}
.left
{
	display: inline-block;
	float: left;
	width: 600px;
}
.right
{
	display: inline-block;
	float: right;
	width: 360px;
}

.content
{
	width: 960px;
	margin: 0px auto;
}
